@import "mediawiki.ui/variables";

// Hide RelatedArticles when VE is activated (https://phabricator.wikimedia.org/T120443)
.ve-activated {
	.ra-read-more {
		display: none;
	}
}

.ra-read-more {
	margin-top: 35px;
	margin-bottom: 70px;

	h2 {
		font-size: 1em;
		font-weight: bold;
		color: @colorGray6;
		padding-left: 0.5em;
		padding-bottom: 0.5em;
	}

	.page-list {
		border-top: 1px solid @colorGray14;
	}
}
